.form
  %form#newmessage.js-form
    %input.form__message#message_content{:type =>"text", :placeholder => "type a message"}
      .form__mask
        %label.form__mask__image
      %input.form__submit{:type => "submit", :value => "Send"}
