.messagebox
  .messagebox__header
    .messagebox__header-list
      .user-name 
        = message.user.name
      .post-time 
        = format_postes_time(message.created_at)
  .messagebox__text
    hello
