.sidebar
  .header
    .header__user-name
      tester
      .header__icon
        = link_to do
          = fa_icon 'edit'
        = link_to do
          = fa_icon 'cog'
  .groups
    .group__name
      sample
    .group__message
      hello
          
