.topbar

=render 'side'

.main
  .header
    .left-header
      .left-header__group-name
        = @group.name
      .left-header__group-member
        Members:
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .right-header
      =link_to 'Edit'

  .message__main
    =render partial: 'message' ,collection: @messages

  =render 'form'
