.main {
  height: 100vh;
  width: calc(100% - 300px);
  float: left;

  .header {
    height: calc(28px + 40px + 28px);
    padding: 0 40px;

    .left-header {
      float: left;

      .left-header__group-name {
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px;
      }

      .left-header__group-member {
        font-size: 12px;
        color: #999999;
      }
    }

    .right-header {
      float: right;
      height: 40px;
      margin-top: 28px;
      text-align: center;
      line-height: 40px;
      border: 1px solid $lightblue;
      padding: 0 20px;

      a {
        color: $lightblue;
        text-decoration: none;
      }
    }
  }

  .message__main{
    height: calc(100vh - 100px - 50px);
    width: calc(100vw - 300px);
    overflow-y:scroll;
    padding: 0 40px;
    background-color: #FAFAFA;
    border-top: solid thin #eeeeee;

    .messagebox {
     color: #434A54;
     border: #eeeeee;
      .user-name {
        padding-right: 10px;
        font-size: 16px;
        font-weight: bold;
        float: left;
        }
      .post-time {
        font-size: 12px;
        color: $lightgray;
        padding-left: 10px;
      }
      &__list{
        padding-left: 40px;
        font-size: 14px;
        margin-bottom: 10px;
        clear: both;
        margin-top: 10px;
      }
    }
  }
  .form {
    background-color: $lightgray;
    height: 50px;
    padding: 20px 40px;

    .form__message {
      padding-left: 10px;
      height: 50px;
      border: none;
      float: left;
      width: calc(100% - 150px);
    }

    .form__mask{
      background-color: $white;
      .icon{
        line-height: 50px;
      }

      .hidden{
        display: none;
      }
    }

    .form__submit {
      background-color: $lightblue;
      padding: 0 20px;
      line-height: 50px;
      color: $white;
      float: right;
      border: none;
      margin-left: 15px;
      font-size: 16px;
    }
  }
}
